.footer {
    position: absolute;
    right: 0;
    bottom: 120px;
    padding: 10px;
    color: #9e9e9e60;
    text-align: right;
    user-select: none;

    @media screen and (max-width: 1024px) {
        transform: rotate(-90deg);
        right: -130px;
        bottom: 80vh;
    }
}

.link { 
    text-decoration: none;
    color: #9e9e9e60;
    cursor: pointer;

    &:hover {
        color: #9e9e9e80;
    }
}
